
$accent: #D7B399;
$dark: #212121;
$light: #F9F6F1;
$white: #FFFFFF;
$gray: #CBCFD4;
$light_gray: #F4F4F4;
$dark_gray: #8D8D8D;
$important: #D84033;

body {
  font-family: 'Montserrat', sans-serif;
}

.page {
  padding-top: 100px;
  padding-bottom: 100px;

  &-light {
    background-color: $light;
  }
  &-dark {
    background-color: $dark;
  }
}

.wrapper {
  max-width: 1110px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 26px;
  padding-top: 30px;

}

.nav {
  display: flex;
  list-style: none;
  padding-left: 0;

  &-item {
    margin-right: 52px;
  }
  &-link {
    color: $dark;
    text-decoration: none;
  }
}

.cart {
  background-image: url(/img/cart.svg);
  background-repeat: no-repeat;
  background-position: 0 center;
  padding-left: 35px;
  display: block;
  width: 30px;
  height: 30px;

  &-count {
    background-image: url(/img/arrow.png);
    background-repeat: no-repeat;
    background-position: 0 center;
    color: $dark;
    font-size: 12px;
    font-weight: 700;
    padding: 10px 20px;
    display: block;
  }
}

.title-h2 {
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  padding-top: 50px;
  text-transform: uppercase;
}

.btn {
  background-color: $accent;
  color: #fff;
  font-size: 16px;
  text-decoration: none;
  text-transform: uppercase;
  padding: 15px 20px;

  &-xs {
    padding: 5px 30px;
  }

  &-center {
    display: block;
    text-align: center;
    max-width: 160px;
    margin: 0 auto;
  }
}

.main {
  display: flex;
  justify-content: space-between;

  &-item {
    flex: 0 0 50%;
  }

  .sale {
    &-description {
      font-size: 30px;

    }
    &-title {
      font-size: 55px;
      font-weight: 700;
    }
  }
}

.box {
  position: relative;
  &-price {
    position: absolute;
    right: 0;
    text-align: right;
    &_old {
      text-decoration: line-through;
      font-size: 24px;
      font-weight: 700;
    }
    &_new {
      font-size: 42px;
      font-weight: 700;
      color: $important;
    }
  }
}

.notice {
  color: #fff;
  text-align: center;
  padding: 63px 0;
  &-title {
    font-size: 30px;
    text-transform: uppercase;
    font-weight: 400;
  }
  span {
    font-weight: 700;
  }
  &-description {
    font-size: 21px;
    font-weight: 400;
  }
}

.collection {
  display: flex;
  justify-content: space-between;
  &-item {
    flex: 0 0 50%;
    padding: 50px 0;
    background-repeat: no-repeat;
    background-size: calc(100% - 50px) bottom;
    background-position: right bottom;
  }

  &-man {
    background-image: url(img/man.png);
  }

  &-woman {
    background-image: url(img/woman.png);
  }


  &-title{
    font-size: 24px;
    font-weight: 500;
    text-transform: uppercase;
    span {
      font-weight: 400;
    }
  }
  &-description {
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 40px;
  }
}

.product {
  display: flex;
  justify-content: space-between;
  text-align: center;
  padding-top: 125px;
  padding-bottom: 128px;

  &-item {
    position: relative;
    flex: 0 0 24%;
    &:before, &:after {
      content: "";
      display: block;
      width: 100%;
      height: 25px;
      background-size: cover;
      background-repeat: no-repeat;
    }
    &:before {
      background-image: url(img/top_lines.svg);
    }
    &:after {
      background-image: url(img/bottom_lines.svg);
    }
  }

  &-title {
    font-weight: 500;
  }

  &-price {
    font-weight: 700;
    font-size: 18px;
    color: $accent;
  }
}

.footer {
  display: flex;
  justify-content: space-between;
  padding: 30px;

  &-logo {
    flex: 0 0 40%;
  }
  &-nav {
    flex: 0 0 60%;
    display: flex;
    justify-content: space-between;
    color: #fff;

  }
  &-list {
    list-style-type: none;
    padding-left: 0;
    &-title {
      font-size: 10px;
      font-weight: 700;
    }
    &-item {
      margin-bottom: 10px;
    }
    &-link {
      color: $gray;
      text-decoration: none;
      font-size: 14px;
      font-weight: 400;
    }
  }
}